<form class="ui form attached segment orange">
  <h2 class="ui dividing header">Servers</h2>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Machine</th>
        <th>Status</th>
        <th>CPU</th>
        <th>Job / Worker</th>
        <th>Controller</th>
      </tr>
    </thead>
    <tbody>
      {% for item in machines %}
      <tr>
        <td> {{ item.name }} </td>
        <td>
          {% if item.pipeline == 'working' %}
          <span class="ui green label"> {{ item.pipeline }} </span>
          {% elif item.pipeline == 'dead' %}
          <span class="ui red label"> {{ item.pipeline }} </span>
          {% elif item.pipeline == 'draining' %}
          <span class="ui orange label"> {{ item.pipeline }} </span>
          {% elif item.pipeline == 'stopped' %}
          <span class="ui grey label"> {{ item.pipeline }} </span>
          {% else %}
          <span class="ui blue label"> {{ item.pipeline }} </span>
          {% endif %}
        </td>
        <td>{{ item.cpus }}</td>
        <td>{{ item.workers }}</td>
        <td>
          {% if item.pipeline == 'stopped' or item.pipeline == 'draining' %}
          <button class="ui right labeled icon button small play green"
                  type="button"
                  onclick="fetch('/control', {method: 'POST', headers: { 'Content-Type': 'application/json'}, body: JSON.stringify({target: '{{ item.ip }}:{{ item.port }}', action: 'start'})}).then(() => { location.reload(); });">
            <i class="right play icon"></i>
            Start
          </button>
          {% elif item.pipeline == 'working' %}
          <button class="ui right labeled icon button small orange"
                  type="button"
                  onclick="fetch('/control', {method: 'POST', headers: { 'Content-Type': 'application/json'}, body: JSON.stringify({target: '{{ item.ip }}:{{ item.port }}', action: 'drain'})}).then(() => { location.reload(); });">
            <i class="right angle double icon"></i>
            Drain
          </button>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>
